@import "bourbon/bourbon"
$dark-color: #171717
body
	font-family: "WorkSansMedium",sans-serif
	color: #fff
	h1,h2
		font-family: "PlayfairDisplayBold",sans-serif
h1
	font-size: 64px
h2
	font-size: 40px
	color: #171717

i
	font-family: "PlayfairDisplayItalic",sans-serif
header
	background-image: url(../images/back.jpg)
	background-position: top center
	background-size: cover
	min-height: 662px
	position: relative
	p
		font-family: "WorkSansBold",sans-serif
		font-size: 19px
	.cirle_down
		height: 50px
		width: 50px
		border-radius: 50%
		border: 1px solid #fff
		position: absolute
		bottom: 28px
		text-align: center
		opacity: .6
		left: 48%
		box-sizing: border-box
		transition: opacity .4s
		.glyphicon-menu-down
			color: #fff
			margin-top: 15px
	.cirle_down:hover, .cirle_down:focus
		opacity: 1
	.header_text
		position: absolute
		top: 35%
		text-align: center
		left: 15%
	.collapsed-menu
		position: fixed
		width: 100%
		height: 100%
		background-image: url(../images/back.jpg)
		background-position: top center
		display: none
		z-index: 5
		.icon-close
			z-index: 6
			position: absolute
			right: 110px
			top: 28px
		.logo
			color: #FFFFFF
			font-size: 30px
			font-family: "QuiteChocolatey", sans-serif
			position: absolute
			left: 100px
			top: 20px
		.bottom-icons
			position: absolute
			bottom: 10%
			left: 43%
			z-index: 10
			box-sizing: inherit
			.bottom-icon
				font-family: "FontAwesome",sans-serif
				color: #d8d8d8
				font-size: 18px
				margin-right: 15px
				&:hover
					text-decoration: none
					color: #FFFFFF
					transition: 0.2s

		.center-menu
			list-style-type: none
			position: absolute
			top: 40%
			left: 40%
			.nav-items
				font-family: "PlayfairDisplayBold", sans-serif
				font-size: 1.7em
				line-height: 40px
				color: #d8d8d8
				&:hover
					color: #FFFFFF
					text-decoration: none
					transition: 0.2s

	.navbar
		transition: 0.2s
		background: transparent
		border: none
		border-radius: 0px
		box-shadow: none
		height: 82px
		.logo
			color: #fff
			font-size: 30px
			font-family: "QuiteChocolatey", sans-serif
			position: absolute
			left: 100px
			top: 20px
		.navbar-toggle
			border: none
			.icon-bar
				background: #000
		.navbar-toggle:focus, .navbar-toggle:hover
			background: none
			.icon-bar
				background: #fff
		a
			color: #fff

		.right-menu-nav
			.navbar-nav
				margin: 15px 15px
				text-transform: uppercase
				li
					.nav-items-scrolled
						color:	#6E6E60

					.nav-items
						color: #bfbfbf
					.nav-items, .nav-items-scrolled
						font-size: 14px
						transition: 1s
					.nav-items
						&:hover
							color: #fff
							background: none
							transition: 1s
					.nav-items-scrolled
						&:hover
							color: #000
							background: none
							transition: 1s
			.icon-button
				display: none
				.icon-bars
					background: white
					height: 3px
					width: 25px
					margin: 4px


.about-agency
	h2
		margin-top: 65px
		margin-bottom: 20px

	p
		color: #5f5f5f
		margin-bottom: 24px
		font-size: 16px
	img
		margin-bottom: 65px

.statistic
	background-image: url("../images/bg-pattern.jpg")
	background-size: cover

	.stats-row
		margin-top: 80px
		margin-bottom: 80px

		.stat-info-icon
			font-family: "Pe-icon-7-stroke",  sans-serif
			color: #ffffff
			font-size: 50px
			float: left
			margin-top: -10px
			margin-right: 20px
		.icon-portfolio
			&::before
				content: "\e622"
		.icon-clock
			&::before
				content: "\e66b"
		.icon-star
			&::before
				content: "\e611"
		.icon-heart
			&::before
				content: "\e642"
		.stat-info-text
			text-transform: uppercase
			font-size: 14px
			margin-top: 2px
		.stat-info-num
			font-size: 19px
.best-projects
	h2
		margin-top: 85px
		margin-bottom: 30px

	p
		color: #5f5f5f
		margin-bottom: 24px
		font-size: 16px